.linkcard .navds-link-panel__chevron {
  align-self: end;
}

.ready .navds-link-panel__chevron {
  align-self: center;
}

.linkcard .navds-link-panel {
  border-radius: 8px;
}

.linkcard .navds-panel {
  padding: 24px;
}

.beskjed .navds-link-panel {
  border-radius: 8px;
}

.beskjed .navds-panel {
  padding: 24px !important;
}

.meldekort .navds-heading--medium.navds-typo--spacing {
  margin-bottom: 16px;
}
